@font-face{
    font-family: retep;
    src:url(fonts/retep.TTF)
}
body{
    background-color:#ffffff;
    font-family: brandon-grotesque;
}
h1{
    font-family: brandon-grotesque,sans-serif;
    float: none;
}
.body {
    list-style-type:none;
    margin:-8px;
    overflow: hidden;
    background-color: white;
    padding-left:0px;
}
.icons ul {
    list-style-type:none;
    padding: 0;
    overflow: hidden;
    background-color: #1a1a1a;
    position:relative;
    margin:0px;
    text-decoration: none;
}

.navbar li {
    float: left;
    font-family: arial;
    text-decoration:none;
    width:25%
}

.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
